$primary-color: rgb(171, 211, 174);
$secondary-color: rgb(143, 188, 143);

$titel-color: rgb(46, 86, 81);

@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

$font-titels: "Akaya Kanadaka", system-ui;

$font-text: "Afacad", sans-serif;

@mixin flexbox-center 
{
  display: flex;
  justify-content: center;
}

@mixin groene-border 
{
  border: solid 2px $primary-color;
}

@mixin box-shadow 
{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@mixin border-radius 
{
  border-radius: 40px;
}

@mixin inner-border-radius 
{
  border-radius: 35px;
}

h1,
h2,
h3,
h4,
h5 
{
  font-family: $font-titels;
  margin: 0;
}

p,
td 
{
  font-family: $font-text;
  color: black;
}

a
{
  text-decoration: none;
}

body 
{
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/achtergrond.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $font-text;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;

  .mainContainer 
  {
    width: 89%;
    height: 89%;
    background-color: rgb(255, 255, 255, 85%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .informatie-kas-main-container 
    {
      display: grid;
      grid-template-columns: 5fr 7fr;
    }

    .mainBorder 
    {
      width: 95%;
      height: 92%;
      border: solid 5px $primary-color;
      border-radius: 40px;

      .pagina-titel 
      {
        font-size: 2rem;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
      }

      #sectie-1 
      {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 0 2.5rem 0 1rem;
        position: relative;

        h1 
        {
          background-color: green;
        }

        .parent-algemeen-overzicht 
        {
          @include box-shadow;
          @include border-radius;
          padding: 1rem;
          // margin-top: 1rem;
          background-color: white;

          .algemeen-overzicht 
          {
            @include groene-border;
            @include inner-border-radius;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;

            .table-informatie-kas 
            {
              width: 100%;

              .tr-informatie-kas 
              {
                display: flex;
                justify-content: space-between;
                text-align: left;
              }
            }
          }
        }

        .grafiek 
        {
          @include box-shadow;
          @include border-radius;
          padding: 1rem;
          position: relative;
          background-color: white;

          .grafiek-innerbox 
          {
            @include groene-border;
            @include inner-border-radius;
            font-size: 1.25rem;
            padding: 0 1rem 2.5rem;
            height: 225px;
            position: relative;

            h2 
            {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }

            canvas 
            {
              // Zorgt ervoor dat de grafiek precies in eht midden komt
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .content 
      {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        height: 100%;

        .kant 
        {
          &-links 
          {
            grid-column: 1;

            #planten 
            {
              width: 100%;
              border-collapse: collapse;

              td 
              {
                article 
                {
                  height: 7rem;
                  width: 10rem;
                  padding: 0.6rem;
                  margin: 0.1rem;
                  margin-left: 2rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border: solid 3px $primary-color;
                  border-radius: 40px;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                  #toevoegen 
                  {
                    height: 5rem;
                    width: 5rem;
                  }

                  h2 
                  {
                    color: gray;
                  }

                  &:hover 
                  {
                    background-color: lightgray;
                    cursor: pointer;
                  }
                }
              }
            }
          }

          &-rechts 
          {
            grid-column: 3;
            // margin-right: 2rem;

            #metingen 
            {
              border: solid 3px $primary-color;
              border-radius: 40px;

              #main-waardes 
              {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem;
                padding-bottom: 0;
                width: 100%;

                table 
                {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .grid-column-2 
      {
        @include box-shadow;
        @include border-radius;
        padding: 1rem;
        margin: 3.25rem 1rem 1.25rem 1rem;
        background-color: white;

        .grid-2-child 
        {
          @include groene-border;
          @include inner-border-radius;
          height: 100%;

          .parent-table 
          {
            padding: 1.5rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 2.5rem;
            justify-content: space-around;
            height: 90%;

            table 
            {
              tr 
              {
                td 
                {
                  font-size: 1.05rem;
                }
              }
            }

            .kas-table-1 
            {
              tr 
              {
                td 
                {
                  font-size: 1.25rem;
                }
              }
            }

            .kas-table-2 
            {
              position: relative;

              &::after,
              &::before 
              {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 1px;
                width: 90%;
                background: black;
              }

              &::after 
              {
                bottom: -20px;
              }

              &::before 
              {
                top: -20px;
              }
            }
          }
        }
      }
    }
  }
}

.divider {
  display: flex;
  justify-content: center;
  border: solid 1px $primary-color;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

.modal 
{
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 20vw;
  height: auto;
  // border: solid 2px #abd3ae;
  border-radius: 5px;

  .modal-binnen
  {
    border: solid 2px $primary-color;
    position: relative;
    padding: 1rem;
    border-radius: 25px;

    h1
    {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .close 
    {
      color: #aaa;
      position: absolute;
      font-size: 2rem;
      font-weight: bold;
      margin-top: -35px;
      right: 15px;
      top: 45px;

      &:hover,
      &:active
      {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    form
    {
      .inputvelden 
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h2
      {
        font-family: $font-text;
        font-weight: 400;
        font-size: 1rem;
      }

      select,
      input 
      {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        border: 2px solid #abd3ae;
        border-radius: 5px;
        box-sizing: border-box;
      }

      button 
      {
        width: 48%;
        padding: 10px;
        box-sizing: border-box;
        // height: 40px;
      }

      .knop-container 
      {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        input,
        button {
          flex: 1;
          margin: 0 5px;
          padding: 10px;
          box-sizing: border-box;
        }
      }

      input[type="text"],
      select 
      {
        border: 2px solid #abd3ae;
        padding: 10px;
        border-radius: 17px;
        box-sizing: border-box;
      }

      .radio-group 
      {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // margin-left: 1rem;
        // gap: 5px; /* Pas de afstand aan tussen de elementen */

        input[type="radio"] 
        {
          margin-right: 5px; /* Kleine ruimte tussen de radio button en de label */
        }
      }

      .radio-single
      {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;

        input
        {
          transform: translateY(50%);
        }
      }

      input[type="submit"],
      button {
        // color: #fff;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        color: $font-titels;
      }

      input[type="submit"] {
        background-color: $primary-color;
        font-family: $font-titels;
        font-size: 1rem;
      }

      button {
        // background-color: white;
        color: white;
        font-family: $font-titels;
        font-size: 1rem;
      }

      .annulatie-knop {
        background-color: $titel-color;
      }
    }
  }
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.switch-wrapper {
  margin-left: 20vw; // slider aan rechterkant
}
 
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
 
.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}
 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
 
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}
 
input:checked + .slider {
  background-color: $primary-color;
}
 
input:checked + .slider:before {
  transform: translateX(23px);
}
.rechterkant {
  display: flex;
  justify-content: end;
}
 
  .plant-container,
  #modalButton
  {
    background-color: white;
  }
 
  .switch-container {
    position: absolute;
    right: 75px;
  }
.pagina-container {
  position: relative;
  align-items: end;
}

.close-button:hover {
  background-color: $primary-color; /* Aangepaste hover kleur */
  color: white; /* Tekstkleur wit op hover voor betere zichtbaarheid */
}

.container {
  position: relative;
  align-items: end;
}
.nav-menu 
{
  position: absolute;
  top: 5px;
  right: 60px;
  .close-button 
  {
    position: absolute;
    // top: -90px;
    top: 0;
    // right: -35px;
    right: 0;
    transform: translate(100%, 0%);
    width: 50px;
    height: 50px;
    background-color: white;
    color: $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px;
    border: solid $primary-color 2px;
    font-weight: bold;
  }

  .back-button {
    position: absolute;
    // top: -90px;
    top: 0;
    // right: -25px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    color: $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 35px;
    border: solid $primary-color 2px;
    font-weight: bold;
  }
}

.back-button:hover {
  background-color: $primary-color;
  color: white
}
@mixin battery-image-style {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  visibility: hidden;
  left: 16em;
  &.show {
    visibility: visible;
  }
}
#battery-image-322 {
  @include battery-image-style;
  top: 13.9em;
}

#battery-image-256 {
  @include battery-image-style;
  top: 23.1em;
}