@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
h1,
h2,
h3,
h4,
h5 {
  font-family: "Akaya Kanadaka", system-ui;
  margin: 0;
}

p,
td {
  font-family: "Afacad", sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/achtergrond.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Afacad", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
body .mainContainer {
  width: 85vw;
  height: 38rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 40px;
  padding: 2rem;
}
body .mainContainer .goodgarden-logo {
  position: absolute;
  width: 10vw;
  left: 50%;
  top: 4.1rem;
  transform: translateX(-50%);
}
body .mainContainer .informatie-kas-main-container {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
body .mainContainer .mainBorder {
  padding: 1.25rem 1.5rem;
  padding: 1rem 0;
  height: 35rem;
  border: solid 5px rgb(171, 211, 174);
  border-radius: 40px;
}
body .mainContainer .mainBorder .pagina-titel {
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
body .mainContainer .mainBorder #sectie-1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 2.5rem 0 1rem;
  position: relative;
}
body .mainContainer .mainBorder #sectie-1 h1 {
  background-color: green;
}
body .mainContainer .mainBorder #sectie-1 .parent-algemeen-overzicht {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 1rem;
  background-color: white;
}
body .mainContainer .mainBorder #sectie-1 .parent-algemeen-overzicht .algemeen-overzicht {
  border: solid 2px rgb(171, 211, 174);
  border-radius: 35px;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
body .mainContainer .mainBorder #sectie-1 .parent-algemeen-overzicht .algemeen-overzicht .table-informatie-kas {
  width: 100%;
}
body .mainContainer .mainBorder #sectie-1 .parent-algemeen-overzicht .algemeen-overzicht .table-informatie-kas .tr-informatie-kas {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
body .mainContainer .mainBorder #sectie-1 .grafiek {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 1rem;
  position: relative;
  background-color: white;
}
body .mainContainer .mainBorder #sectie-1 .grafiek .grafiek-innerbox {
  border: solid 2px rgb(171, 211, 174);
  border-radius: 35px;
  font-size: 1.25rem;
  padding: 0 1rem 2.5rem;
  height: 225px;
  position: relative;
}
body .mainContainer .mainBorder #sectie-1 .grafiek .grafiek-innerbox h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
body .mainContainer .mainBorder #sectie-1 .grafiek .grafiek-innerbox canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .mainContainer .mainBorder .content {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  height: 100%;
}
body .mainContainer .mainBorder .content .kant-links {
  grid-column: 1;
}
body .mainContainer .mainBorder .content .kant-links #planten {
  width: 100%;
  border-collapse: collapse;
}
body .mainContainer .mainBorder .content .kant-links #planten td article {
  height: 7rem;
  width: 10rem;
  padding: 0.6rem;
  margin: 0.1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px rgb(171, 211, 174);
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body .mainContainer .mainBorder .content .kant-links #planten td article #toevoegen {
  height: 5rem;
  width: 5rem;
}
body .mainContainer .mainBorder .content .kant-links #planten td article h2 {
  color: gray;
}
body .mainContainer .mainBorder .content .kant-links #planten td article:hover {
  background-color: lightgray;
  cursor: pointer;
}
body .mainContainer .mainBorder .content .kant-rechts {
  grid-column: 3;
}
body .mainContainer .mainBorder .content .kant-rechts #metingen {
  border: solid 3px rgb(171, 211, 174);
  border-radius: 40px;
}
body .mainContainer .mainBorder .content .kant-rechts #metingen #main-waardes {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-bottom: 0;
  width: 100%;
}
body .mainContainer .mainBorder .content .kant-rechts #metingen #main-waardes table {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .mainContainer .mainBorder .grid-column-2 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 1rem;
  margin: 3.25rem 1rem 1.25rem 1rem;
  background-color: white;
}
body .mainContainer .mainBorder .grid-column-2 .grid-2-child {
  border: solid 2px rgb(171, 211, 174);
  border-radius: 35px;
  height: 100%;
}
body .mainContainer .mainBorder .grid-column-2 .grid-2-child .parent-table {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.5rem;
  justify-content: space-around;
  height: 90%;
}
body .mainContainer .mainBorder .grid-column-2 .grid-2-child .parent-table table tr td {
  font-size: 1.05rem;
}
body .mainContainer .mainBorder .grid-column-2 .grid-2-child .parent-table .kas-table-1 tr td {
  font-size: 1.25rem;
}
body .mainContainer .mainBorder .grid-column-2 .grid-2-child .parent-table .kas-table-2 {
  position: relative;
}
body .mainContainer .mainBorder .grid-column-2 .grid-2-child .parent-table .kas-table-2::after, body .mainContainer .mainBorder .grid-column-2 .grid-2-child .parent-table .kas-table-2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 90%;
  background: black;
}
body .mainContainer .mainBorder .grid-column-2 .grid-2-child .parent-table .kas-table-2::after {
  bottom: -20px;
}
body .mainContainer .mainBorder .grid-column-2 .grid-2-child .parent-table .kas-table-2::before {
  top: -20px;
}

.divider {
  display: flex;
  justify-content: center;
  border: solid 1px rgb(171, 211, 174);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30vw;
  height: auto;
  border: solid 2px #abd3ae;
  border-radius: 10px;
}

.modal #plant-id {
  font-size: 1.5rem;
}

.modal .close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -35px;
}

.modal .close:hover,
.modal .close:active {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myModal select,
#myModal input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #abd3ae;
  border-radius: 5px;
  box-sizing: border-box;
}

#myModal .knop {
  display: flex;
  justify-content: space-between;
}

#myModal button {
  width: 48%;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
}

#myModal .knop-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#myModal .knop-container input,
#myModal .knop-container button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  box-sizing: border-box;
}

#myModal input[type=text],
#myModal select {
  border: 2px solid #abd3ae;
  padding: 10px;
  border-radius: 17px;
  box-sizing: border-box;
}

#myModal input[type=submit],
#myModal button {
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#myModal input[type=submit] {
  background: linear-gradient(45deg, #abd3ae, #6ebf7d);
}

#myModal button {
  background-color: white;
  color: black;
}

.toevoeging {
  background: linear-gradient(45deg, #abd3ae, #2ecc71);
}

.annulatie-knop {
  background: linear-gradient(45deg, #ffcc00, #ff6600);
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.switch-wrapper {
  margin-left: 20vw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(171, 211, 174);
}

input:checked + .slider:before {
  transform: translateX(23px);
}

.rechterkant {
  display: flex;
  justify-content: end;
}

.plant-container,
#modalButton {
  background-color: white;
}

.switch-container {
  position: absolute;
  right: 75px;
}

.pagina-container {
  position: relative;
  align-items: end;
}

.close-button:hover {
  background-color: rgb(171, 211, 174); /* Aangepaste hover kleur */
  color: white; /* Tekstkleur wit op hover voor betere zichtbaarheid */
}

.container {
  position: relative;
  align-items: end;
}

.close-button {
  position: absolute;
  top: -90px;
  right: -35px;
  transform: translate(100%, 0%);
  width: 50px;
  height: 50px;
  background-color: white;
  color: rgb(171, 211, 174);
  border-radius: 50%; /* Aangepast voor perfecte cirkel */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 50px;
  border: solid rgb(171, 211, 174) 2px;
  font-weight: bold;
}

.back-button {
  position: absolute;
  top: -90px;
  right: -25px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: rgb(171, 211, 174);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 35px;
  border: solid rgb(171, 211, 174) 2px;
  font-weight: bold;
}

.back-button:hover {
  background-color: rgb(171, 211, 174);
  color: white;
}

#battery-image-322 {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  visibility: hidden;
  left: 16em;
  top: 13.9em;
}
#battery-image-322.show {
  visibility: visible;
}

#battery-image-256 {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  visibility: hidden;
  left: 16em;
  top: 23.1em;
}
#battery-image-256.show {
  visibility: visible;
}/*# sourceMappingURL=style.css.map */