<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="De pagina voor de verschillende sensoren"
    />
    <meta
      name="author"
      content="B. Diker, A. Oomen, J. Doekhi, R. van Putten, M. Çifçi"
    />
    <meta
      name="keywords"
      content="Kas informatie / Algoritme / Voeding / Planten / Data / Kas"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/main.js" defer></script>
    <script src="../static/js/weerGrafiek.js" defer></script>
    <title>Informatie Kas</title>
  </head>
  <body>
    <article id="loading-screen">
      <article class="loading-spinner"></article>
    </article>
    <article class="nav-menu">
      <div class="container">
        <a href="index.html" class="back-button">&#8592;</a>
      </div>
      <div class="pagina-container">
        <div class="close-button" id="close-button">&times;</div>
      </div>

      <div id="custom-modal" class="modal">
      <div class="modal-content">
        <p>Weet je zeker dat je de applicatie wilt sluiten?</p>
        <button id="cancel-close">Annuleren</button>
        <button id="confirm-close">Doorgaan</button>
      </div>
    </div>
    </article>
    <section class="mainContainer">
      <section class="mainBorder informatie-kas-main-container">
        <article>
          <h1 class="pagina-titel-kas">Informatie Kas</h1>
          <section id="sectie-1">
            <article class="parent-algemeen-overzicht">
              <article class="algemeen-overzicht">
                <table class="table-informatie-kas">
                  <tr class="tr-informatie-kas">
                    <td>Device</td>
                    <td id="deviceNumber"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Batterij Voltage</td>
                    <td id="voltage"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Tijden</td>
                    <td id="time"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Zulu</td>
                    <td id="zulu"></td>
                  </tr>
                </table>
              </article>
            </article>
            <article class="grafiek">
              <article class="grafiek-innerbox">
                <h2>Zonlicht</h2>
                <canvas
                  id="myCanvas"
                  class="canvas-informatie-kas"
                  width="275"
                  height="275"
                ></canvas>
              </article>
            </article>
          </section>
        </article>
        <article class="grid-column-2">
          <article class="grid-2-child">
            <section class="parent-table">
              <table class="kas-table-1">
                <tr>
                  <td>Aantal geplant:</td>
                  <td id="totale_planten">Loading...</td>
                </tr>
                <tr>
                  <td>Succesvolle Oogst:</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Gefaalde Oogst:</td>
                  <td>2</td>
                </tr>
              </table>
              <table class="kas-table-2">
                <tr>
                  <td>Warmste Maand:</td>
                  <td>n.v.t.</td>
                </tr>
                <tr>
                  <td>koudste Maand:</td>
                  <td>December</td>
                </tr>
                <tr>
                  <td>Gemiddelde Bodemtemp.:</td>
                  <td id="bodem-temperatuur">2˚C</td>
                </tr>
                <tr>
                  <td>Gemiddelde Uren Zonlicht:</td>
                  <td id="battery_voltage">2u</td>
                </tr>
              </table>
              <table class="kas-table-3">
                <tr>
                  <td>Laatste Irrigatie:</td>
                  <td>2u</td>
                </tr>
                <tr>
                  <td>Aankomende Irrigatie:</td>
                  <td>2u</td>
                </tr>
                <tr>
                  <td>Laatste Bemesting</td>
                  <td>2d</td>
                </tr>
                <tr>
                  <td>Aankomende Bemesting:</td>
                  <td>2w</td>
                </tr>
              </table>
            </section>
          </article>
        </article>
      </section>
    </section>
  </body>
</html>
