<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Een pagina speciaal voor de pomp!" />
    <meta
      name="author"
      content="B. Diker, A. Oomen, J. Doekhi, R. van Putten, M. Çifçi"
    />
    <meta
      name="keywords"
      content="Pomp / Algoritme / Voeding / Planten / Data / Kas"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/main.js" defer></script>
    <script src="../static/js/waterGrafiek.js" defer></script>
    <title>Informatie Pomp</title>
  </head>
  <body>
    <article id="loading-screen">
      <article class="loading-spinner"></article>
    </article>
    <article class="nav-menu">
      <div class="container">
        <a href="index.html" class="back-button">&#8592;</a>
      </div>
      <div class="pagina-container">
        <div class="close-button" id="close-button">&times;</div>
      </div>

      <div id="custom-modal" class="modal">
      <div class="modal-content">
        <p>Weet je zeker dat je de applicatie wilt sluiten?</p>
        <button id="cancel-close">Annuleren</button>
        <button id="confirm-close">Doorgaan</button>
      </div>
    </div>
    </article>
    <section class="mainContainer">
      <!-- De container die de inhoud van de informatiepagina bevat -->
      <section class="mainBorder informatie-kas-main-container">
        <article>
          <h1 class="pagina-titel">Informatie Pomp</h1>
          <!-- Sectie met overzicht van de kas gegevens -->
          <section id="sectie-1">
            <!-- Weergave van sensor data en kascondities -->
            <article class="parent-algemeen-overzicht">
              <article class="algemeen-overzicht">
                <!-- Tabel voor het weergeven van sensorgegevens -->
                <table class="table-informatie-kas">
                  <tr class="tr-informatie-kas">
                    <td>Pomp Status:</td>
                    <td id="deviceNumber">Uitstekend!</td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Waterverbruik:</td>
                    <td id="voltage">0.5 L/u</td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Volgende Irrigatie</td>
                    <td id="time">24:00</td>
                  </tr>
                  <tr class="tr-informatie-kas">
                    <td>Laatste Irrigatie:</td>
                    <td id="zulu">18:00</td>
                  </tr>
                </table>
              </article>
            </article>
            <!-- Weergave van zonlichtdata in een grafiek -->
            <article class="grafiek">
              <article class="grafiek-innerbox">
                <h2>Temperatuur</h2>
                <canvas
                  id="myCanvas"
                  class="canvas-informatie-kas"
                  width="275"
                  height="275"
                ></canvas>
              </article>
            </article>
          </section>
        </article>
        <!-- Sectie met aanvullende informatie over de kas in tabelvorm -->
        <article class="grid-column-2">
          <article class="grid-2-child">
            <section class="parent-table">
              <!-- Verschillende tabellen voor gedetailleerde informatie -->
              <table class="kas-table-1">
                <!-- Rijen met specifieke kas informatie, zoals aantal geplante en geoogste planten -->
                <tr>
                  <td>Aantal geplant:</td>
                  <td id="totale_planten">Loading...</td>
                </tr>
                <tr>
                  <td>Succesvolle Oogst:</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Gefaalde Oogst:</td>
                  <td>2</td>
                </tr>
              </table>
              <table class="kas-table-2">
                <!-- Rijen met klimaat- en bodemcondities -->
                <tr>
                  <td>Warmste Maand:</td>
                  <td>n.v.t.</td>
                </tr>
                <tr>
                  <td>koudste Maand:</td>
                  <td>December</td>
                </tr>
                <tr>
                  <td>Gemiddelde Bodemtemp.:</td>
                  <td id="bodem-temperatuur">2˚C</td>
                </tr>
                <tr>
                  <td>Gemiddelde Uren Zonlicht:</td>
                  <td id="battery_voltage">2u</td>
                </tr>
              </table>
              <table class="kas-table-3">
                <!-- Rijen met irrigatie- en bemestingschema's -->
                <tr>
                  <td>Laatste Irrigatie:</td>
                  <td>2u</td>
                </tr>
                <tr>
                  <td>Aankomende Irrigatie:</td>
                  <td>2u</td>
                </tr>
                <tr>
                  <td>Laatste Bemesting</td>
                  <td>2d</td>
                </tr>
                <tr>
                  <td>Aankomende Bemesting:</td>
                  <td>2w</td>
                </tr>
              </table>
            </section>
          </article>
        </article>
      </section>
    </section>
  </body>
</html>
