<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="De pagina voor de verschillende sensoren" />
    <meta name="author" content="B. Diker, A. Oomen, J. Doekhi, R. van Putten, M. Çifçi" />
    <meta name="keywords" content="Sensor / Algoritme / Voeding / Planten / Data / Kas" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/main.js" defer></script>
    <script src="../static/js/weergrafiek.js" defer></script>
    <title>Informatie Sensor</title>
  </head>
  <body>
    <section class="mainContainer">
      <article>
        <div class="pagina-container">
          <div class="close-button" onclick="closeApplication()">&times;</div>
        </div>
        <div class="container">
          <a href="index.html" class="back-button">&#8592;</a>
        </div>
        <a href="index.html">
          <img src="../static/images/logo.png" class="goodgarden-logo">
        </a>
      </article>
      <!-- De container die de inhoud van de informatiepagina bevat -->
      <section class="mainBorder informatie-kas-main-container">
        <article>
          <h1 class="pagina-titel sensor-titel">Informatie Kas</h1>
          <!-- Sectie met overzicht van de kas gegevens -->
          <section id="sectie-1">
            <!-- Weergave van sensor data en kascondities -->
            <article class="parent-algemeen-overzicht">
              <article class="algemeen-overzicht">
                 <!-- Tabel voor het weergeven van sensorgegevens -->
                <table class="table-informatie-kas">
                  <tr class="tr-informatie-kas">
                      <td>Device</td>
                      <td id="deviceNumber"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                      <td>Batterij Voltage</td>
                      <td id="voltage"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                      <td>Tijden</td>
                      <td id="time"></td>
                  </tr>
                  <tr class="tr-informatie-kas">
                      <td>Zulu</td>
                      <td id="zulu"></td>
                  </tr>
              </table>
              </article>
            </article>
            <!-- Weergave van zonlichtdata in een grafiek -->
            <article class="grafiek">
              <article class="grafiek-innerbox">
                <h2>Zonlicht</h2>
                <canvas id="sensorCanvas" class="canvas-informatie-kas" width="300" height="225"></canvas>
              </article>
            </article>
          </section>
        </article>
        <!-- Sectie met aanvullende informatie over de kas in tabelvorm -->
        <article class="grid-column-2">
          <article class="grid-2-child">
            <section class="parent-table">
              <!-- Verschillende tabellen voor gedetailleerde informatie -->
              <table class="kas-table-1">
                 <!-- Rijen met specifieke kas informatie, zoals aantal geplante en geoogste planten -->
                <tr>
                  <td>Aantal geplant:</td>
                  <td id="totale_planten">Loading...</td>
                </tr>
                <tr>
                  <td>Succesvolle Oogst:</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Gefaalde Oogst:</td>
                  <td>2</td>
                </tr>
              </table>
              <table class="kas-table-2">
                 <!-- Rijen met klimaat- en bodemcondities -->
                <tr>
                  <td>Warmste Maand:</td>
                  <td>n.v.t.</td>
                </tr>
                <tr>
                  <td>koudste Maand:</td>
                  <td>December</td>
                </tr>
                <tr>
                  <td>Gemiddelde Bodemtemp.:</td>
                  <td id="bodem-temperatuur">2˚C</td>
                </tr>
                <tr>
                  <td>Gemiddelde Uren Zonlicht:</td>
                  <td id="battery_voltage">2u</td>
                </tr>
              </table>
              <table class="kas-table-3">
                <!-- Rijen met irrigatie- en bemestingschema's -->
                <tr>
                  <td>Laatste Irrigatie:</td>
                  <td>2u</td>
                </tr>
                <tr>
                  <td>Aankomende Irrigatie:</td>
                  <td>2u</td>
                </tr>
                <tr>
                  <td>Laatste Bemesting</td>
                  <td>2d</td>
                </tr>
                <tr>
                  <td>Aankomende Bemesting:</td>
                  <td>2w</td>
                </tr>
              </table>
            </section>
          </article>
        </article>
      </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
  </body>
</html>
