<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="De pagina voor de verschillende sensoren"
    />
    <meta
      name="author"
      content="B. Diker, A. Oomen, J. Doekhi, R. van Putten, M. Çifçi"
    />
    <meta
      name="keywords"
      content="Kas informatie / Algoritme / Voeding / Planten / Data / Kas"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/plantenAPI.js"></script>
    <title>Informatie Kas</title>
  </head>
  <body>
    <section  class="mainContainer">
        <section class="mainBorder">
            <article id="1"></article>
        </section>
    </section>
  </body>
</html>
